.task-text {
    border-width: 0px 0px 1px;
    border-color: white;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0px;
    padding-bottom: 5px;
    background: none;
    font-size: large;
    color: whitesmoke;
}