.add-button {
    height: 90px;
    width:150px;
    background-color: #fee65d4b;
    border: 2px solid #fee65d;
    font-size: medium;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 16px;
}
.add-container {
    padding: 15px;
}
.add-button:hover {
    background-color: #fee65dc2;
    border: 2px solid #fff7c6;
}