.weather-icon {
    height: 80px;
}
.weather-top {
    display: flex;
    padding-top: 10%;
    align-items: center;
}
.weather-icon-div {
    padding-left: 10%;
}
.weather-temperature {
    padding-left: 40%;
    text-align: center;
    font-weight: 500;
}
.weather-town {
    padding-top: 5%;
    font-weight: 500;
}